{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'polls:index' %}"><img class="logo"
        src="{% static 'images/django-logo.png' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'polls:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <ul class="nav justify-content-end">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/logout">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/singup">Sing up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/accounts/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container">
    <div class="jumbotron">
      {% block main %}
      {% endblock %}
    </div>
  </div>
</body>

</html>